defaults:
  - base_app_schema
  - data_structure: bindingdb # 描述文件架构与文件内列的名字,与最终实际内容无关
  - predictor: rgcn
  - relations: DP_sim
  - data_params: strict_strong #数据处理相关,且影响最终数据内容的参数
  - analysis: split_effect # 仅仅在分析时用到
  - _self_

hydra:
  run:
    dir: logs/outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: logs/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}
