
defaults:
  - data: DrugBank # Default dataset to use
  - encoder: ndls_homo
  - predictor: rgcn
  - relations: DP_sim
  - params: default
  - training: rgcn-colddrug
  - analysis: split_diff # [核心新增] 添加这一行
  - _self_  # This line is important, it tells Hydra to also load the rest of this file.



data:
  subfolders:
    raw: "raw"
    processed: "processed"
  use_gtopdb: false
  files:
    raw:
      dti_interactions: "full.csv"
    processed:
        typed_edge_list_template: "typed_edges-{relations_suffix}.csv"
        abbr: 
          dp_interaction: dp
          lp_interaction: lp
          pp_similarity: pp
          dd_similarity: dd
          dl_similarity: dl
          ll_similarity: ll
        link_prediction_labels_template: "dl_p_edges{split_suffix}.csv"
        nodes_metadata: "nodes.csv"
        node_features: "features.csv"
        similarity_matrices:
          molecule: "sim_matrixes/dl_similarity_matrix.pkl"
          protein: "sim_matrixes/prot_similarity_matrix.pkl"
        indexes:
          drug: "indexes/drug2index.pkl"
          ligand: "indexes/ligand2index.pkl"
          protein: "indexes/prot2index.pkl"
    gtopdb:
      raw:
        interactions: "interactions.csv"
        ligands: "ligands.csv"
        targets: "targets_and_families.csv"
      processed:
        ligands: "gtopdb_ligands.csv"
        proteins: "gtopdb_proteins.csv"
        interactions: "gtopdb_p-l_edges.csv"

# --- 2. Global Parameters (that don't belong to a specific component) ---
# These are mostly parameters for data processing and evaluation
training:
    learning_rate: 0.1
    epochs: 200
    batch_size: 32

runtime:
  seed: 514
  cpus: 100
  gpu: "cuda:1"
  force_restart: false
  sim_restart: false

mlflow:
  tracking_uri: "logs/mlruns" #TODO: logs
  experiment_name: "DTI_Prediction_Hydra_on_${data.primary_dataset}"

hydra:
  run:
    dir: logs/outputs/${now:%Y-%m-%d}/${now:%H-%M-%S} #相当于前面自动有${hydra.runtime.cwd}

  # 您也可以在这里配置 multirun 的输出目录
  sweep:
    dir: logs/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num} # 每个子任务的文件夹名